Flask-Limiter==3.5.0
Flask==3.0.3
Flask_Cors==4.0.0
Flask_JWT_Extended==4.6.0
gunicorn==23.0.0

firebase_admin==6.5.0
google_api_python_client==2.136.0
google_auth_oauthlib==1.2.1

numpy==2.0.2
pandas==2.2.3
Jinja2==3.1.4
premailer==3.10.0
python-dotenv==1.0.1
pytz==2024.1
Requests==2.32.3
rich==13.9.3
yfinance==0.2.37
ib_insync==0.9.86
sqlalchemy==2.0.35
openpyxl==3.1.5
xlrd==2.0.1